<section>

    <div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="p-profile">

            </div>
        </div>
        <div class="col-sm-7 p-rgt-sec">
            <div>
                <span class="p-tag">Work Experience</span>
                <h1 class="mt-4">Work Experience</h1>
                <p class="p-des mt-3 mb-4">{{experiencia1}}</p>
                <p class="p-des mt-3 mb-4">{{experiencia2}}</p>
                    <a href="#" class="p-readmore">Read more <img src="assets/img/rm_arw_rgt.png" alt="Read More"
                        width="15" class="ml-2"/></a>
                    </div>
        </div>
    </div>
    </div>
</section>