<header>
    <div class="container">
        <div class="row">
            <div class="menu">
                <!-- decided not to use this buttons, less visual noise
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>

                    </li>
                    <li>
                        <img class="p-cursor" src="assets/img/h_search.png" alt="buscar" width="20"/>
                    </li>
                </ul>-->
                <ul>
                    <li class="media">d3c's Portfolio</li>
                    <li>
                        <a href="#" [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <!-- componente que usé para desarrollo. <li>
                        <a href="#" [routerLink]="['/prodlista']" [routerLinkActive]="['is-active']">prueba productos</a>
                    </li>-->
                    
                    <li>
                        <a href="#" [routerLink]="['/education']" [routerLinkActive]="['is-active']">Education</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/habilista']" [routerLinkActive]="['is-active']">Relevant Skills</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/funclista']" [routerLinkActive]="['is-active']">Work Experience</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/projects']" [routerLinkActive]="['is-active']">Projects</a>
                    </li>
                    <!-- no es necesario, lo puse en el footer 
                    <li>
                        <a href="#" [routerLink]="['/login']" [routerLinkActive]="['is-active']">Login</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</header>