.media { 
    display: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    align-self: center;
}

menu > div, ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 22px;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

header{
    padding: 30px 0;
    
}
.p-hamburger{
    cursor: pointer;
}
.p-hamburger span{
    width: 20px;
    height: 3px;
    background: #000;
    display: block;
    margin-bottom: 4px;
}
.p-hamburger span:last-child{
    margin-bottom: 0;
}
.p-hamburger span:nth-child(2){
    width: 10px;
}

ul {
    display: flex;
    align-items: center;

}
header ul li{
    padding: 0 40px;

}
header ul li:first-child{
    padding-left: 0;
}
header ul li:last-child{
    padding-right: 0;
}
header ul li a{
    color: #000;
    font-weight: 500;
    position: relative;
}
header ul li a:hover::after, header ul li a.is-active::after{
    content: '';
    background: #0faa1c;
    height: 19px;
    position: absolute;
    left: 1px;
    z-index: -1;
    bottom: 0;
    right: -3px;
    opacity: .6;

}
header button{
    color: #000;
    font-weight: 500;
    background-color: white;
    border: none;
}

@media only screen and (max-width:768px)
{
    .media { 
        display: block;
    }

    menu > div, ul, li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        padding-left: 0;
        text-decoration: none;
        font-size: 22px;
        
    }    

    ul{
        /*border: solid 1px black;*/
    }

    li{
        /*border: solid 1px black;*/
    }

    a {
        padding-top: 3rem;
        /*border: solid 1px black;*/
    }
 
    header ul li{
        padding: 0px;
    
    }

}