<section>

    <div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="p-profile">
                <img src="assets/img/defrent.jpg" class="i-profile"/> 
                <h1 class="middle">d3c's portfolio</h1>
            </div>
        </div>
        
        <div class="col-sm-7">
            <br><br><br><br>
            <div *ngIf="persona">
                <p><b>full name: </b>{{persona.nombreYApellido}}</p><br>
                <p><b>birthdate: </b> {{persona.fechadenacimiento}} </p><br>
                <p><b>adress: </b> {{persona.domicilio}} </p><br>
            </div>
            <button class="btn btn-primary" (click)="volver()">Back</button>
                
        </div>
    </div>
    </div>
</section>