<section>

    <div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div *ngIf="user !== 'admin'" class="p-profile">
                <img src="assets/img/defrent.jpg" class="i-profile"/> 
                <h1 class="middle">d3c's portfolio</h1>
            </div>
        </div>
        <div class="col-sm-7 p-rgt-sec">
            <div *ngIf="user !== 'admin'">
                <span class="p-tag">home</span>      
                
           


                
                <ul *ngFor="let Persona of personas, let i = index;">
                    <br>
                    <li class="cada">
                        {{i+1}}
                    </li>
                    <li class="cada">
                        <h5>full name
                        <img src="assets/img/rm_arw_rgt.png" width="15"/>
                        {{Persona.nombreYApellido}}</h5>
                    </li>
                    <li class="cada">
                        <h5>birthdate
                        <img src="assets/img/rm_arw_rgt.png" width="15" class="ml-1"/>
                        {{Persona.fechadenacimiento}}</h5>
                    </li>
                    <li class="cada">
                        <h5>adress
                        <img src="assets/img/rm_arw_rgt.png" width="15" class="ml-2"/>
                        {{Persona.domicilio}}</h5>
                    </li>
                    
                </ul>

                <div *ngIf="personas[0]?.idPersona; else loguerino">
                    
                </div>
                <ng-template #loguerino>
                    <h4> please <a routerLink="/login">log in</a> to navigate this site</h4>
                </ng-template>
            </div>
                
                
                
                <!-- no va más <a href="#" class="p-readmore">Read more <img src="assets/img/rm_arw_rgt.png" alt="Read More"
                    width="15" class="ml-2"/></a> -->
                
                <br><br>
                <h1 *ngIf="user === 'admin'">panel de control personas</h1>
                <table *ngIf="user === 'admin'" class="table"><thead>
                    <tr>
                        <th class="alineado" scope="col">ID</th>
                        <th class="alineado" scope="col">Name</th>
                        <th class="alineado" scope="col">birthdate</th>
                        <th class="alineado" scope="col">adress</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Persona of personas">
                        <td class="alineado">{{Persona.idPersona}}</td>
                        <td class="alineado">{{Persona.nombreYApellido}}</td>
                        <td class="alineado">{{Persona.fechadenacimiento}}</td>
                        <td class="alineado">{{Persona.domicilio}}</td>
    <!-- importantísima la barrita antes de la dirección en routerlink-->
    <!-- si algo falla acá, revisar el path en routing module. i.e. los dos puntitos en detalle/:id -->
                        <td class="alineado" ><button class="btn btn-primary" routerLink="/persdetalle/{{Persona.idPersona}}">See</button></td>
                        <td class="alineado" ><button class="btn btn-warning" routerLink="/perseditar/{{Persona.idPersona}}">Edit</button></td>
                        <td class="alineado" ><button class="btn btn-danger" (click)="onDelete(Persona.idPersona!)">Borrar</button></td>
                    </tr>
                </tbody></table>
                <div>
                    <button *ngIf="user === 'admin'" class="btn btn-sucess" routerLink="/persnuevo">Nueva Persona</button>
                </div>


            </div>
        </div>
    </div>

</section>