<section>

    <div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="p-profile">

            </div>
        </div>
        <div class="col-sm-7 p-rgt-sec">
            <div>
                <span class="p-tag">home</span>

                <!-- esto era un título <h1 *ngIf="personas[0]" class="mt-4">{{personas[0].nombreYApellido}}</h1>-->
                <h1>d3c's portfolio</h1>

                <ul *ngFor="let Persona of personas, let i = index;">
                    <br>
                    <li class="cada">
                        {{i+1}}
                    </li>
                    <li class="cada">
                        <h5>full name
                        <img src="assets/img/rm_arw_rgt.png" width="15"/>
                        {{Persona.nombreYApellido}}</h5>
                    </li>
                    <li class="cada">
                        <h5>birthdate
                        <img src="assets/img/rm_arw_rgt.png" width="15" class="ml-1"/>
                        {{Persona.fechadenacimiento}}</h5>
                    </li>
                    <li class="cada">
                        <h5>adress
                        <img src="assets/img/rm_arw_rgt.png" width="15" class="ml-2"/>
                        {{Persona.domicilio}}</h5>
                    </li>
                    
                </ul>
                
                
                <a href="#" class="p-readmore">Read more <img src="assets/img/rm_arw_rgt.png" alt="Read More"
                    width="15" class="ml-2"/></a>
                
                <br><br>
                <h1>control</h1>
                <table class="table"><thead>
                    <tr>
                        <th class="alineado" scope="col">ID</th>
                        <th class="alineado" scope="col">Name</th>
                        <th class="alineado" scope="col">birthdate</th>
                        <th class="alineado" scope="col">adress</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Persona of personas">
                        <td class="alineado">{{Persona.idPersona}}</td>
                        <td class="alineado">{{Persona.nombreYApellido}}</td>
                        <td class="alineado">{{Persona.fechadenacimiento}}</td>
                        <td class="alineado">{{Persona.domicilio}}</td>
    <!-- importantísima la barrita antes de la dirección en routerlink-->
    <!-- si algo falla acá, revisar el path en routing module. i.e. los dos puntitos en detalle/:id -->
                        <td class="alineado" ><button class="btn btn-primary" routerLink="/persdetalle/{{Persona.idPersona}}">See</button></td>
                        <td class="alineado" ><button class="btn btn-warning" routerLink="/perseditar/{{Persona.idPersona}}">Edit</button></td>
                        <td class="alineado" ><button class="btn btn-danger" (click)="onDelete(Persona.idPersona!)">Borrar</button></td>
                    </tr>
                </tbody></table>
                <div>
                    <button class="btn btn-sucess" routerLink="/persnuevo">Nueva Persona</button>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>