<section>

    <div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="p-profile"></div>
        </div>
        
        <div class="col-sm-7">
            <br><br><br><br>
            <div *ngIf="funcion">
                <p><b>id function:</b> {{funcion.idFuncion}}</p><br>
                <p><b>id institution: </b>{{funcion.idInstitucion}}</p><br>
                <p><b>id person: </b>{{funcion.idPersona}}</p><br>
                <p><b>work description: </b>{{funcion.descripcionFuncion}}</p><br>
                <p><b>period: </b>{{funcion.periodoFuncion}}</p><br>

            </div>
            <button class="btn btn-primary" (click)="volver()">Back</button>
                
        </div>
    </div>
    </div>
</section>