/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  

body{
    margin: 0;
    padding: 0;
    font-size: 17px;
}

p{
    margin: 0;
    
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a, a:hover{
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
h1{
    font-size:45px;
}

/*COMMON */
.p-cursor{
    cursor:pointer;
}
.p-flex{
    display:flex;
}
.p-flex-align-center{
    align-items:center;
}
.p-flex-jc-sb{
    justify-content: space-between;
}
.p-readmore{
    color:black;
    font-weight: 600;
}
.p-readmore img{
    transition: all .5s;
    transform: translateX(0);
}
.p-readmore:hover img{
    transform:translateX(5px);
}
/* WRAPPER CLASS */
.p-wrapper {
    position: relative;
}

.p-wrapper::before{
    content: '';
    background: #C30b88;
    height: 100%;
    width: 25vw;
    position: absolute;
    z-index: -1;
}

.p-profile {
    width: 100%;
    height: 450px; 
    margin-bottom: 5rem;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s ease;
    
}

.i-profile {
        width: 100%;
        height: 450px;
        object-fit: cover;
        resize: horizontal;
        filter: hue-rotate(180deg) blur(2px);
        transition: .5s ease;
        border-radius: 5%;
        box-shadow: 4px 4px 4px 2px rgba(6, 9, 10, 0.5);
    }


.i-profile:hover {
    opacity: 0.6;    
    height: 440px;
    width: 98%;
    filter: hue-rotate(100deg) blur(1px);
    border: solid 2px blue;
}

.p-profile:hover .middle {
    opacity: 1;
    top: -80%;
    left: 90%;
}

.middle {
    color: #5a033e;
    font-weight: bold;
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: none;
  }

  @media only screen and (max-width:768px)
  {
    .col-sm-5{
        display:none;
    }

  }