<!-- component not used anymore 

<section>

    <div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="p-profile">

            </div>
        </div>
        <div class="col-sm-7 p-rgt-sec">
            <div>
                <span class="p-tag">Full Stack Programmer</span>
                <h1 class="mt-4">Ariel Wasserman</h1>
                <p class="p-des mt-3 mb-4">Nam castum esse decet pium poetam
                    ipsum, versiculos nihil necesse est,
                    qui tum denique habent salem ac leporem,
                    si sunt molliculi ac parum pudici
                    et quod pruriat incitare possunt,
                    non dico pueris, sed his pilosis,
                    qui duros nequeunt movere lumbos.</p>
                    <a href="#" class="p-readmore">Read more <img src="assets/img/rm_arw_rgt.png" alt="Read More"
                        width="15" class="ml-2"/></a>
            </div>
                

                <div>
                    <h6>Subscribe to my Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email"
                             placeholder="Enter your mail" autocomplete="off">
                             <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
    </div>
</section>-->